/PCPalConfigurator/bin
/PCPalConfigurator/obj
/PCPalService/.vs
/PCPalConfigurator/.vs
/PCPalService/bin
/PCPalService/obj
PCPalService/service_log.txt
/PCPal/.vs
/PCPal/Configurator/obj
/PCPal/Core/bin
/PCPal/Core/obj
