<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="PCPalConfigurator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="PCPalConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<PCPalConfigurator.Properties.Settings>
			<setting name="LastIconDirectory" serializeAs="String">
				<value></value>
			</setting>
		</PCPalConfigurator.Properties.Settings>
		<PCPalConfigurator.Settings>
   <setting name="LastIconDirectory" serializeAs="String">
    <value />
   </setting>
  </PCPalConfigurator.Settings>
	</userSettings>
</configuration>